<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('css/style.css') }}" />
    </head>
    <body>
        <div id="container">
          <header role="banner">
            <div class="wrapper" style="z-index: 999">
              <ul id="nav-user" class="pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="btn btn-inverse dropdown">
                  <a class="user-badge dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ app.user.username }}
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">

                    <li><a href="{{ path('fos_user_profile_show', {id: app.user.id}) }}">Mon profil</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">Editer mon profil</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="red"><a href="{{ path('admin') }}">Administration</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                  </ul>
                </li>
            {% else %}
                <li class="btn btn-inverse">
                  <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                </li>
                <li class="btn btn-inverse">
                  <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                </li>
            {% endif %}
              </ul>
            </div>
            <hgroup class="wrapper">
              <h1>
                <img src="{{ asset('img/logo.png') }}" alt="Logo" />
                Le Festival
              </h1>
              <h2>Improbable et intemporel</h2>
            </hgroup>
          </header>
          
          <nav id="nav" role="navigation">
            <ul>
              <li><a href="{{ path('_welcome') }}">Accueil</a></li>
              <li><a href="{{ path('festival') }}">Festival</a></li>
              <li><a href="{{ path('programmation') }}">Programmation</a></li>
              <li><a href="{{ path('artistes') }}">Artistes</a></li>
              <li><a href="{{ path('billeterie') }}">Billeterie</a></li>
              <li><a href="{{ path('infos') }}">Infos pratiques</a></li>
            </ul>
          </nav>
          
          <div id="content"  class="wrapper">
            <aside id="menu">
              {% render "CorePagesBundle:Pages:Menu" %}
            </aside>
            
            <section id="main" role="main">
                {% block body %}{% endblock %}
            </section>
        
            <!-- bientot balise <separator /> -->
            <br style="clear: both;" />
          </div>
          

          <footer role="contentinfo" class="wrapper">
            <ul class="social">
              <li><a href="http://facebook.com/thiktak" class="facebook"></a></li>
              <li><a href="http://twitter.com/#!OlivaresGeorges" class="twitter"></a></li>
              <li><a href="http://youtube.com" class="youtube"></a></li>
            </ul>
            
            <ul class="links">
              <li>Copyright 2012</li>
              <li>Original design by Tkîktak</li>
              <li>Mentions legales</li>
              <li><a href="/ENSISA/TP/festival/cake/pages/changelog">Changelog</a></li>
            </ul>
            <a href="http://card.olivares-georges.fr">Olivarès Georges</a> - <a href="http://validator.w3.org/check?uri=referer">W3C</a>
          </footer>
        </div>
        {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
        <script>
          /**
           * @author: Olivarès Georges <contact@olivares-georges.fr>
           */

          function checkActiveHrefs() {
            $('a[href^="/"]').each(function() {
              if( $(this).attr('href') == window.location.pathname )
                $(this).addClass('active');
              else
                $(this).removeClass('active');
            });
          }
           
          $(document).ready(function() {
            checkActiveHrefs();

            $('div[data-addr]').each(function() {
              url = $(this).attr('data-addr');
              url = unescape(url);
              
              $(this).html('<div class="addr" style="margin: auto auto; text-align: center;"><iframe style="width: 100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="' + url + '"></iframe></div>');
            });

            $('a[data-target]').click(function() {
              return !window.open($(this).attr('href'), $(this).attr('data-target'));
            });
          });
        </script>
        {% endblock %}
    </body>
</html>
