<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('css/style.css') }}" />
    </head>
    <body>
        <div id="container">
          <header role="banner">
            <div class="wrapper" style="z-index: 999">
              <ul id="nav-user" class="pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="btn btn-inverse dropdown">
                  <a class="user-badge dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ app.user.username }}
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">

                    <li><a href="{{ path('fos_user_profile_show', {id: app.user.id}) }}">Mon profil</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">Editer mon profil</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                  </ul>
                </li>
            {% else %}
                <li class="btn btn-inverse">
                  <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                </li>
                <li class="btn btn-inverse">
                  <a href="{{ path('fos_user_registration_register') }}">S'inscrire'</a>
                </li>
            {% endif %}
              </ul>
            </div>
            <hgroup class="wrapper">
              <h1>
                <img src="/festival/2/img/logo.png" alt="Logo" />
                Le Festival
              </h1>
              <h2>Improbable et intemporel</h2>
            </hgroup>
          </header>
          
          <nav id="nav" role="navigation">
            <ul>
              <li><a href="{{ path('_welcome') }}">Accueil</a></li>
              <li><a href="{{ path('festival') }}">Festival</a></li>
              <li><a href="{{ path('programmation') }}">Programmation</a></li>
              <li><a href="{{ path('artistes') }}">Artistes</a></li>
              <li><a href="{{ path('billeterie') }}">Billeterie</a></li>
              <li><a href="{{ path('infos') }}">Infos pratiques</a></li>
            </ul>
          </nav>
          
          <div id="content"  class="wrapper">
            <aside id="menu">
              <h1>Et aussi ...</h1>
              <h2>Places restantes</h2>
              <ul>
                <li>Pass 3 jours: 40</li>
                <li>Pass vendredi: 60</li>
                <li>Pass samedi: 50</li>
                <li>Pass dimanche: 70</li>
              </ul>
              
              <h2>La selection du jour</h2>
              <figure class="user">
                <img src="/festival/2/img/artistes/david-bowie_mini.jpg" alt="Utilisateur David Bowie" />            <figcaption>
                  <span class="name">David Bowie</span>
                  <span class="info">Folk - Royaume-Uni</span>
                </figcaption>
              </figure>
              
              <h2>Et ailleurs</h2>
              <ul>
                <li><a href="?page=accueil">Festival les inRocks</a></li>
              </ul>
            </aside>
            
            <section id="main" role="main">
                {% block body %}{% endblock %}
            </section>
        
            <!-- bientot balise <separator /> -->
            <br style="clear: both;" />
          </div>
          

          <footer role="contentinfo" class="wrapper">
            <ul class="social">
              <li><a href="http://facebook.com/thiktak" class="facebook"></a></li>
              <li><a href="http://twitter.com/#!OlivaresGeorges" class="twitter"></a></li>
              <li><a href="http://youtube.com" class="youtube"></a></li>
            </ul>
            
            <ul class="links">
              <li>Copyright 2012</li>
              <li>Original design by Tkîktak</li>
              <li>Mentions legales</li>
              <li><a href="/ENSISA/TP/festival/cake/pages/changelog">Changelog</a></li>
            </ul>
            <a href="http://card.olivares-georges.fr">Olivarès Georges</a> - <a href="http://validator.w3.org/check?uri=referer"><img src="./www/images/html5-badge-h-semantics.png" alt="Valid HTML5" /></a>
          </footer>
        </div>
        {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="http://web.ensisa.olivares-georges.fr/festival/2/app/webroot/js/script.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
        {% endblock %}
    </body>
</html>
