{% extends "::layout.html.twig" %}

{% block body %}
<header>
  <aside>
    <ul class="breadcrumb">
      <li><a href="{{ path('_welcome') }}">Accueil</a></li>
      <li>Artistes</li>
    </ul>
  </aside>
  <h1>Artistes</h1>
</header>

    <ul class="btn-group pull-right">
        <li class="btn btn-mini">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Genre {% if app.request.query.get('filter-gender') %}({{app.request.query.get('filter-gender')}}){% endif %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="?">Tous</a></li>
                <li class="divider"></li>
                {% for gender in genders %}
                {% set attr = app.request.query.all|merge({'filter-gender' : gender}) %}
                <li><a href="{{ path(app.request.attributes.get('_route'), attr) }}">{{ gender }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="btn btn-mini">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Pays {% if app.request.query.get('filter-country') %}({{app.request.query.get('filter-country')}}){% endif %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="?">Tous</a></li>
                <li class="divider"></li>
                {% for country in countries %}
                {% set attr = app.request.query.all|merge({'filter-country' : country}) %}
                <li><a href="{{ path(app.request.attributes.get('_route'), attr) }}">{{ country }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="btn btn-mini">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Journées {% if app.request.query.get('filter-day') %}({{app.request.query.get('filter-day')}}){% endif %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="?">Toutes</a></li>
                <li class="divider"></li>
                {% for day in days %}
                {% set attr = app.request.query.all|merge({'filter-day' : day}) %}
                <li><a href="{{ path(app.request.attributes.get('_route'), attr) }}">{{ day }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>

<br /><br />

{% for entity in entities %}
<a href="{{ path('artist_view', { 'id': entity.id }) }}">
<figure class="user">
    <img src="{{ asset('img/artistes/' ~ entity.image) }}" alt="{{ entity.name }}">
    <figcaption>
        <span class="name">{{ entity.name }}</span>
        <span class="info">{{ entity.gender }} - {{ entity.country }}</span>
    </figcaption>
</figure>
</a>
<br />
{% endfor %}
{% endblock %}

{% block admin_menu %}

{% endblock %}