{% extends "::layout.html.twig" %}

{% block body %}
<header>
  <aside>
    <ul class="breadcrumb">
      <li><a href="{{ path('admin') }}">Admin</a></li>
      <li><a href="{{ path('artist_list') }}">Artistes</a></li>
    </ul>
  </aside>
  <h1>Liste des artistes</h1>
</header>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Name (Gender - Country)</th>
            <th>Www - Youtube</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><img src="{{ asset('img/artistes/' ~ entity.image) }}" class="img-small" /></td>
            <td>
                {{ entity.name }}
                ({{ entity.gender }} - {{ entity.country }})
                <p style="color: gray; font-size: .75em">
                    {{ entity.descr }}
                </p>
            </td>
            <td>
                <a href="{{ entity.www }}">www</a>
                <a href="{{ entity.youtube }}">Youtube</a>
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('artist_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('artist_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<aside class="admin">
    <ul>
        <li>
            <a href="{{ path('artist_new') }}" class="btn btn-success">
                Create a new entry
            </a>
        </li>
    </ul>
</aside>
{% endblock %}