{% extends "::layout.html.twig" %}

{% block body %}
<header>
  <aside>
    <ul class="breadcrumb">
      <li><a href="{{ path('admin') }}">Admin</a></li>
      <li><a href="{{ path('artist_list') }}">Artistes</a></li>
    </ul>
  </aside>
  <h1>Ajouter un artistes</h1>
</header>

<form class="form-horizontal" action="{{ path('artist_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('artist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}